.services {
    justify-content: space-between;
}

.services * {
    font-family: 'Raleway';
    color: #124265;
    line-height: 2;
}

.displayNone {
    display: none!important;
}


.serviceInfo {
    justify-content: space-between;
    height: 100%;
}

.serviceDetails {
    border-top: 1px solid black;
}
.serviceName{
    overflow: hidden;
}

.flexRow {
    flex-direction: row!important;
}

.serviceDescription {
    width: 80%;
    padding-left: 20px;
}

.serviceCard {
    display: grid!important;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.contentCard {
    height: 450px;
    justify-content: space-between!important;
}